In [1]:
import pandas as pd

In [2]:
plumber = pd.read_excel('plumber.xlsx')

In [3]:
retailer = pd.read_excel('Retailer.xlsx')

In [4]:
plumber

,Name,Email Id,Mobile No.,Current Location,Gender,Address
0,Rahel Robert,rahelrobert@yahoo.com,91-9213555722,Delhi,Female,"436/4, Steephen`s Cottaage, Laxmi vihar"
1,manugupta,manu_0803@yahoo.com,91-9958673297,Delhi,Female,"Sector-4,House no-379,S-2 vashali(Ghaziabad)"
2,lejo john,lijo_87@yahoo.com,91-9818290798,Faridabad,Male,"1037a sec 29 , h.b colony"
3,Ravi Prakash,ravi046@yahoo.com,91-9811959479,Delhi,Male,"C-39.IARI,Pusa, New Delhi"
4,Jatin Kalra,gunjanrefrigeration@vsnl.com,91-9810110959,Delhi,Male,B-594 Ganesh Nagar -2 Gali No - 2
...,...,...,...,...,...,...
19994,deepa rani,deepajhamb@indiatimes.com,91-9810498190,Gurgaon,Female,"576,Bhim nagar Gurgaon. Haryana(122001)"
19995,nitin sharma,greatnitinsharma@sify.com,91-9871667776,Faridabad,Male,"#755/B , Sector-49, Sainik Colony,Faridabad, 1..."
19996,Madhan Raj,madhan2k1@gmail.com,91-9940689120,Noida/ Greater Noida,Male,NaN
19997,Parag Jain,paragjain9@gmail.com,91-9350293626,Ghaziabad,Male,"C-2, Neelkanth Apartment, Rakesh Marg, Ghaziabad."
19998,suresh kumar,sureshkumar240484@yahoo.co.in,91-9313858837,Faridabad,Male,"Capital one auto marketing pvt.ltd. 181A/1, Pr..."

In [5]:
plumber

,Name,Email Id,Mobile No.,Current Location,Gender,Address
0,Rahel Robert,rahelrobert@yahoo.com,91-9213555722,Delhi,Female,"436/4, Steephen`s Cottaage, Laxmi vihar"
1,manugupta,manu_0803@yahoo.com,91-9958673297,Delhi,Female,"Sector-4,House no-379,S-2 vashali(Ghaziabad)"
2,lejo john,lijo_87@yahoo.com,91-9818290798,Faridabad,Male,"1037a sec 29 , h.b colony"
3,Ravi Prakash,ravi046@yahoo.com,91-9811959479,Delhi,Male,"C-39.IARI,Pusa, New Delhi"
4,Jatin Kalra,gunjanrefrigeration@vsnl.com,91-9810110959,Delhi,Male,B-594 Ganesh Nagar -2 Gali No - 2
...,...,...,...,...,...,...
19994,deepa rani,deepajhamb@indiatimes.com,91-9810498190,Gurgaon,Female,"576,Bhim nagar Gurgaon. Haryana(122001)"
19995,nitin sharma,greatnitinsharma@sify.com,91-9871667776,Faridabad,Male,"#755/B , Sector-49, Sainik Colony,Faridabad, 1..."
19996,Madhan Raj,madhan2k1@gmail.com,91-9940689120,Noida/ Greater Noida,Male,NaN
19997,Parag Jain,paragjain9@gmail.com,91-9350293626,Ghaziabad,Male,"C-2, Neelkanth Apartment, Rakesh Marg, Ghaziabad."
19998,suresh kumar,sureshkumar240484@yahoo.co.in,91-9313858837,Faridabad,Male,"Capital one auto marketing pvt.ltd. 181A/1, Pr..."

In [6]:
plumber.equals(retailer)

False

In [8]:
compare = plumber.values == retailer.values

<ipython-input-8-0698d4f0eee2>:1: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  compare = plumber.values == retailer.values

In [10]:
print(compare)

False

In [12]:
comp_plum = list(plumber["Mobile No."])
comp_retail = retailer[~retailer["Mobile No."].isin(comp_plum)]

In [13]:
comp_retail

,Name,Email Id,Mobile No.,Current Location,Gender,Address
0,monika gautam,monica_lisa4u@yahoo.co.in,91-9891744715,Noida/ Greater Noida,Female,"34, chak harihar van chatnag road jhunsi allah..."
1,MuditBhatnagar,muditbhatnagar@gmail.com,91-9873646677,Delhi,Male,"E-1389, Netaji Nagar, New Delhi - 110023"
2,Mrityunjay Kumar,godhelpme_1@indiatimes.com,91-9899644735,Noida/ Greater Noida,Male,"62/3, Ambedkar Bihar, Sec - 37, Noida, Dist-G...."
3,priyanka kapoor,prrikap@yahoo.co.in,91-9899950788,Gurgaon,Female,"D-218, Sushant Lok-I, Gurgaon-122002"
4,Vikrant Shukla,vikrant_shukla19@rediffmail.com,91-9891571591,Noida/ Greater Noida,Male,"2/39, Pashupati Nagar, Naubasta, Kanpur. 208021."
...,...,...,...,...,...,...
19995,rajiv singh,ritesh1104@epatra.com,91-9810854637,Faridabad,Male,"H.NO: 27E, FRUIT GARDEN, FARIDABAD (HARYANA"
19996,AbhilashaShukla,shuklabhilasha@gmail.com,91-9871825059,Noida/ Greater Noida,Female,"H-106, Noida Staff Colony, Sector 27, Noida , ..."
19997,vanita rawat,rawatvanita@gmail.com,91-9350580585,Noida/ Greater Noida,Female,h-332 sec 22 noida
19998,devesh srivastava,devesh.mba@gmail.com,91-9868702505,Noida/ Greater Noida,Male,"B-49, Sector 56, Noida"
19999,akhilesh singh,akhilesh.iftm@gmail.com,91-9810405585,Noida/ Greater Noida,Male,E-75 Sec-41 Noida

In [16]:
sheet_1 = pd.read_excel('sheet_1.xlsx')

In [17]:
sheet_2 = pd.read_excel('Sheet_2.xlsx')

In [18]:
sheet_1

                Name              Current Location     Mobile No.
0       Rahel Robert         rahelrobert@yahoo.com  91-9213555722
1          manugupta           manu_0803@yahoo.com  91-9958673297
2          lejo john             lijo_87@yahoo.com  91-9818290798
3       Ravi Prakash             ravi046@yahoo.com  91-9811959479
4        Jatin Kalra  gunjanrefrigeration@vsnl.com  91-9810110959
5     ApurvaTripathi    apurvatripathi@hotmail.com  91-9811798030
6     ashish trivedi             taj_mba@yahoo.com  91-9985177502
7   Sharmistha Singh    ssharma_kiams4@yahoo.co.in  91-9868266773
8      vandana madan      vandana_net_id@yahoo.com  91-9911197334
9        SUNIL KHERA    sunil_khera@rediffmail.com  91-9811676935
10        Amit Kapur   amit_kapur43@rediffmail.com     9810969205

In [19]:
sheet_2

                 Name             Current Location     Mobile No.
0        Rahel Robert        rahelrobert@yahoo.com  91-9213555722
1           manugupta          manu_0803@yahoo.com  91-9958673297
2           lejo john            lijo_87@yahoo.com  91-9818290798
3    Sharmistha Singh   ssharma_kiams4@yahoo.co.in  91-9868266773
4       vandana madan     vandana_net_id@yahoo.com  91-9911197334
5         SUNIL KHERA   sunil_khera@rediffmail.com  91-9811676935
6          Amit Kapur  amit_kapur43@rediffmail.com     9810969205
7      Kailash Khatri           kckhatri@yahoo.com  91-9810295412
8         Bipin Pande      bchpande@indiatimes.com  91-9810133148
9   ajay kumar gautam        akg812001@yahoo.co.in  91-9213479854
10       sonalikapoor        sonali38459@gmail.com  91-9990571730

In [21]:
comp  = list(sheet_1["Mobile No."])
comp_both = sheet_2[~sheet_2["Mobile No."].isin(comp)]

In [22]:
comp_both

                 Name         Current Location     Mobile No.
7      Kailash Khatri       kckhatri@yahoo.com  91-9810295412
8         Bipin Pande  bchpande@indiatimes.com  91-9810133148
9   ajay kumar gautam    akg812001@yahoo.co.in  91-9213479854
10       sonalikapoor    sonali38459@gmail.com  91-9990571730